
{% extends '../layouts/base.html' %}

{% load static %}


{%  block content %}

    <div>
        <h1>Association Rules - Algoritmo Apriori</h1>
    </div>

    <div class="contenedor-texto-algoritmo contenedor-texto-algoritmo1">
        <p>Apriori es un algoritmo de <b>reglas de asociación</b> (aprendizaje no supervisado), empleado en <b>sistemas de recomendación</b>. Un sistema de recomendación incluye uno o más algoritmos de Inteligencia Artificial que buscan contenido (información) sobre una fuente de datos para generar recomendaciones en función de los gustos o necesidades de la persona.
        </p>
    </div>

    <!--<div class="contenedor-texto-algoritmo contenedor-texto-algoritmo2">
        <p>El algoritmo Apriori requiere un conjunto de <b>datos transaccionales</b>. Los datos deben ser operativos, empleados para controlar y ejecutar tareas, como: ventas, transacciones, procesos y otros. El objetivo de aplicar este algoritmo es obtener reglas de asociación. En este caso, se usará un conjunto de datos que contiene información sobre una <b>plataforma de películas</b>, donde los clientes pueden rentar o comprar este tipo de contenidos. Antes de ejecutar el algoritmo es recomendable observar la distribución de la frecuencia de los elementos, por lo que sí se presiona el siguiente <b>botón</b>, se mostrará la distribución de los datos según la frecuencia.
        </p>
    </div>-->

    <div class="contenedor-algoritmo-grid" id="contenedor_algoritmo" url-endpoint='{% url "api-chart-data" %}'>

        <div class="cardGrid">
            <canvas id="myChart" ></canvas>
        </div>

        <div class="cardGrid">
            <div>
                <h2>Ejecución Apriori</h2>
            </div>
            <h3>Ingrese los datos (Porcentaje en decimal 0-1)</h3>
            <div class="containerFormularioApriori">
                    <form class="cardFormAp" action="" method="post" id="form-ejecucion">
                        {% csrf_token %}
                        <div class="contenedor-form-ap">
                            <label for="spmin">Soporte mínimo:</label>
                            <input type="number" step="0.001" id="spmin" placeholder="Soporte mínimo"  name="soporte" value="0.01">

                            <label for="conmin">Confianza mínima:</label>
                            <input type="number" step="0.001" id="conmin" placeholder="Confianza mínima" name="confianza" value="0.3">

                            <label for="ele">Elevación:</label>
                            <input type="number" step="0.001" id="ele" placeholder="Elevación" name="elevacion" value="2">
                            
                        </div>

                        <input type="hidden" name="form-tipo" value="form-ejecucion">

                        <label for="usar-algoritmo" class="custom-file-form-ap">Enviar -></label>
                        <input class="boton-centro" type="submit" name="form-ejecucion" value="form-ejecucion" id="usar-algoritmo" >
                        
                    </form>
            </div>
        </div>


        <div id="ejecucion-algoritmo" class="cardGrid-scroll elemento-abajo contenedor-ejecucion" style="display: {{display}}">
            

            <h2>Resultados</h2>
            <h3>Reglas de asociación encontradas</h3>

            <div class="contenedor-resultados-ap">
        
            {% for elemento in list %}
        
                <div class="resultado-ap">
                    <h1>{{elemento.Regla}}</h1> 
                    <h2>{{elemento.Soporte}}</h2>
                    <h2>{{elemento.Confianza}}</h2>
                    <h2>{{elemento.Lift}}</h2>
                </div>
        
            {% endfor %}

            </div>
            
        </div>

        <div class="cardGrid elemento-abajo">
            <h2>Opciones</h2>
            <h3>Opciones disponibles</h3>
            <div class="containerFormularioApriori">
                    <div class="cardFormAp">
                        <div class="contenedor-form-ap">
                            <form action="" method="post" id="form-reporte">
                                {% csrf_token %}
                                <label for="generar-reporte" class="custom-file-form-ap">Generar reporte</label>
                                <input class="boton-centro" type="submit" value="form-reporte" name="form-reporte" id="generar-reporte" >
                                <input type="hidden" name="form-tipo" value="form-reporte">
                            </form>
                            <!--<button type="submit" value="Generar reporte" name='generar-reporte-pdf-ap' >Generar reporte</button>-->

                            <button type="submit" value="Eliminar DataSet" onclick="location.href='{% url 'apriori-eliminar-dataset' %}'" name='eliminar-data-ap'>Eliminar DataSet</button>

                            
                        </div>

                        <div class="ocultar-mensaje-reporte" style="display: {{muestraReporte}}">
                            <h3>
                                Reporte generado
                            </h3>
                        </div>
                        
                    </div>
            </div>
        </div>

        <!--width="400" height="400"-->
    </div>


    <!--
    <div class="boton-esconder" id="boton_esconder">
        <button class="buttonAlg">
            <span>Distribución de los datos</span>
        </button>
    </div>

    <div class="boton-esconder" id="boton_esconder_ejecucion">
        <button class="buttonAlg">
            <span>Ejecución del algoritmo</span>
        </button>
    </div>

    -->
    
    <!--
    <div id="ejecucion-algoritmo" class="contenedor-ejecucion" style="display: {{display}}">
        <div>
            <h2>Ejecución Apriori</h2>
        </div>
    
        <div class="contenedor-texto-algoritmo contenedor-texto-apri">
            <p>La función Apriori de Python requiere que el conjunto de datos tenga la forma de una lista de listas, donde cada transacción es una lista interna dentro de una gran lista. Esto ya se tiene internamente, por lo que ya se puede ajustar la <b>configuración</b> o el entorno del algoritmo.</p>
        </div>
    
        <h3>Ingrese los datos requeridos (Porcentaje en decimal 0-1)</h3>
        <div class="container">
                <form class="card" action="" method="post">
                    {% csrf_token %}
                    <div class="contenedor-form">
                        <label for="spmin">Soporte mínimo:</label>
                        <input type="number" step="0.001" id="spmin" placeholder="Soporte mínimo"  name="soporte" value="0.01">
                        <label for="conmin">Confianza mínima:</label>
                        <input type="number" step="0.001" id="conmin" placeholder="Confianza mínima" name="confianza" value="0.3">
                        <label for="ele">Elevación:</label>
                        <input type="number" step="0.001" id="ele" placeholder="Elevación" name="elevacion" value="2">
                        
                        <label for="usar-algoritmo">Enviar -></label>
                        <input class="boton-centro" type="submit" value="Subir" id="usar-algoritmo" >
                    </div>
                    
                </form>
        </div>

        -->

    <!--
    <div id="ejecucion-algoritmo" class="contenedor-ejecucion" style="display: {{display}}">

        <div class="contenedor-texto-algoritmo contenedor-resultados">
            <h3>Resultados</h3>
        </div>
    
        {% for elemento in list %}
    
        <div class="contenedor-texto-algoritmo etiquetas-resultados">
            <h1>{{elemento.Regla}}</h1> 
            <h2>{{elemento.Soporte}}</h2>
            <h2>{{elemento.Confianza}}</h2>
            <h2>{{elemento.Lift}}</h2>
        </div>
    
        {% endfor %}
    </div>

    -->    
    

    <script>
        $("#boton_esconder").click(function(){
            $("#contenedor_algoritmo").toggle(1000);
        }); 

        $("#boton_esconder_ejecucion").click(function(){
            $("#ejecucion-algoritmo").toggle(1000);
        });
        
    </script>


    <script> 

    function obtenerColorRandom() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    function obtenerColorCadaPelicula(count) {
        var data =[];
        for (var i = 0; i < count; i++) {
            data.push(obtenerColorRandom());
        }
        return data;
    }

    var endpoint = '{% url "api-chart-data" %}'
    
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data.items,
                    datasets: [{
                        axis: 'y',
                        //label: 'Distribución de la frecuencia de los datos',
                        data: data.frecuencia,
                        backgroundColor: obtenerColorCadaPelicula(data.cuenta),
                        fill: false,
                        borderWidth: 1,                        
                    }]
                    },
                options: {
                    indexAxis: 'y',
                    plugins: {
                        legend: {
                            display: false
                        }
                    }
                }
            });
            console.log(data)
        },
        error: function(error_data){
            console.log("error")
        }
    })

    
    </script>
      
{% endblock %}