
{% extends '../../../../layouts/base.html' %}

{% load static %}


{%  block content %}

    <div>
        <h1>Seleccionar empresa - Bosque aleatorio</h1>
    </div>

    <div>

        <h1 class="title">Seleccionar ticker para Pronostico</h1>

    </div>

      <div class="container">

        <form class="card" action="" method="post" id="form-seleccion" style="overflow-y: scroll;">
            {% csrf_token %}
            <h4 style="margin-top: 30px; margin-bottom: 20px; padding: 10px;">
                Seleccione el ticker de la empresa que desea analizar (solo uno)
            </h4>

            <div class="contenedor-form">      <!--  contenedor-form-ap  -->

                {% for columna in listaEmpresas %}
                    <div class="linea">
                        <input type="checkbox" id="id_{{ columna }}" name="name_{{ columna }}" value="{{ columna }}">
                        <label for="id_{{ columna }}"> {{ columna }}</label>
                    </div>
                {% endfor %}

            </div>

            <input type="hidden" name="form-tipo" value="form-seleccion-bosque-pronostico">

            <label for="seleccion" class="custom-file-upload">Enviar</label>
            <input type="submit" name="form-seleccion-bosque-pronostico" value="form-seleccion-bosque-pronostico" id="seleccion" >
            
        </form>

       
        
    </div>   
      
{% endblock %}