@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Poppins', Courier, monospace;
    color: black;
}
body{
    background: white;
    
    /*#0F1C40;   Azul marino*/

    /*#0A0A40;*/
}
nav{
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: rgb(77, 77, 77);
    
    /*#1A3273  Azul marino*/
    /*#151380;*/
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
}
.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}
.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 4px;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.fas{
  color: rgb(255, 255, 255);
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    color: rgb(255, 255, 255);
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: #848484;
    color: white;
    
}
nav:hover{
    width: 280px;
    transition: all 0.5s ease;
    color: white;
}
.logout{
    position: absolute;
    bottom: 0;
}











.contenido{
    margin-left: 150px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    z-index: -1;
} 

.containerCharts{
    position:relative;
    margin-top: -620px;
    margin-left: 1150px;
}

.cuadro{

    width: 650px;
    height: 450px;
    text-align: center;
    padding: auto;
    padding: 15px;
    padding-top: 50px;
    
}

.parrafos{
    margin-top: 20px;
}












/*Card actual*/

.title{
  text-align: center;
  font-size: 30px;
  color: #6a6a6a;
  margin-top: 20px;
  font-weight: 100;
}


.container{
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.container .card{
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.container .card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
  width: 330px;
  height: 220px;
}


.container .card h4{
  font-weight: 600;
}

.container .card p{
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.container .card a {
  width: 100%;
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
  opacity: 1;
  transition: 0.3s;
}

.container .card a:hover {
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  background-color: #2c83bd;
  opacity: 0.6;
}














/* APRIORI */

.contenedor-algoritmo-grid{
  width: 100%;
  margin-top: 20px;
  background-color: #ffffff;

  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-bottom: 20px;
}

.contenedor-algoritmo-grid .cardGrid{
  height: 425px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px;
  text-align: center;
  transition: all 0.25s;
}

.contenedor-algoritmo-grid .cardGrid:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/*.contenedor-algoritmo-grid .cardGrid img{
  width: 330px;
  height: 220px;
}*/

.contenedor-algoritmo-grid .cardGrid h4{
  font-weight: 600;
}

.contenedor-algoritmo-grid .cardGrid p{
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.contenedor-algoritmo-grid .cardGrid a {
  width: 100%;
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
  opacity: 1;
  transition: 0.3s;
}

.contenedor-algoritmo-grid .cardGrid a:hover {
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  background-color: #2c83bd;
  opacity: 0.6;
}



/*
.contenedor-algoritmo{
  margin-top: 20px;
  padding: 30px;
  background-color: #ffffff;
  margin-bottom: 20px;
  display: none;
}
*/

/*Boton*/
.boton-esconder{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #FFFFFF;
}

.buttonAlg {
  font-size: 16px;
  border-radius: 4px;
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  width: 250px;
  height: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonAlg span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #FFFFFF;
}

.buttonAlg span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #FFFFFF;
}

.buttonAlg:hover span {
  padding-right: 25px;
  color: #FFFFFF;
}

.buttonAlg:hover span:after {
  opacity: 1;
  right: 0;
}





/*APRIORI SUBIR ARCHIVO*/

.container form h4{
  margin-top: 10px;
}

.contenedor-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"] {
  display: none;
}

input[type="submit"] {
  display: none;
}

.custom-file-upload {
  width: 120px;
  margin-top: 10px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
}

.custom-file-upload:hover{
  background-color: #020b64;
  color: #17ffb0;
  opacity: 1;
}



/*APRIORI FORMULARIO DATOS*/


.containerFormularioApriori{
  margin: auto;
  margin-top: 10px;
  width: 100%;
  height: 80%;
}

.containerFormularioApriori .cardFormAp{
  margin: auto;
  margin-top: 20px;
  width: 80%;
  height: 90%;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
  padding: 10%;
}

.containerFormularioApriori .cardFormAp:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/*.containerFormularioApriori .cardFormAp img{
  width: 330px;
  height: 220px;
}*/

.contenedor-form-ap{
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 1rem;
}

.containerFormularioApriori .cardFormAp label{
  width: 100%;
}

.containerFormularioApriori .cardFormAp input{
  width: 100%;
  background-color: #ecececb8;
  padding-left: 28px;
}


input[type="submit"] {
  display: none;
}

input[type="number"] {
  display: inline-flex;
}


.custom-file-form-ap {
  width: 25%;
  margin-top: 10px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
}

.custom-file-form-ap:hover{
  background-color: #000000;
  color: #fefefe;
  opacity: 1;
}


/*APRIORI RESULTADOS*/

.contenedor-ejecucion{
  display: none;
}

.elemento-abajo{
  margin-top: 25px;
}

.contenedor-algoritmo-grid .cardGrid-scroll{
  height: 425px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px;
  text-align: center;
  transition: all 0.25s;
  overflow-y: scroll;
}

.contenedor-algoritmo-grid .cardGrid-scroll:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.contenedor-algoritmo-grid .cardGrid-scroll h4{
  font-weight: 600;
}

.contenedor-algoritmo-grid .cardGrid-scroll p{
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.contenedor-algoritmo-grid .cardGrid-scroll a {
  width: 100%;
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
  opacity: 1;
  transition: 0.3s;
}

.contenedor-algoritmo-grid .cardGrid-scroll a:hover {
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  background-color: #2c83bd;
  opacity: 0.6;
}

/*muestra de cada resultado*/
.contenedor-resultados-ap{
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

.contenedor-resultados-ap .resultado-ap{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  height: 90%;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
  padding: 20px; 
}

.contenedor-resultados-ap .resultado-ap:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.contenedor-resultados-ap .resultado-ap h1{
  font-size: 18px;
  font-weight: 500;
}

.contenedor-resultados-ap .resultado-ap h2{
  font-size: 14px;
  font-weight: 350;
}



/*APRIORI SECCION OPCIONES*/

.contenedor-form-ap-opciones{
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1rem;
}


/*APRIORI REPORTE PDF*/
.ocultar-mensaje-reporte{
  margin-top: 30px;
  display: none;
}






/* METRICAS FORMULARIO DE SELECCION DE CARACTERISTICAS*/


.containerFormularioMetricasSeleccion{
  margin: auto;
  margin-top: 10px;
  width: 100%;
  height: 80%;
}

.containerFormularioMetricasSeleccion .cardFormMetricas{
  margin: auto;
  margin-top: 20px;
  width: 80%;
  height: 90%;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
  padding: 10%;
  overflow-y: scroll;
}

.containerFormularioMetricasSeleccion .cardFormMetricas:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}


/* PARTE DEL FORMULARIO EN DONDE SE LISTAN LAS CARACTERÍSTICAS */
.contenedor-form-metricas{
  margin: auto;
  margin-top: -15px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-bottom: 10px;
}

.contenedor-form-metricas .linea{
  display: inline-block;
  text-align: left;
  margin-left: 55px;
}

.containerFormularioMetricasSeleccion .cardFormMetricas label{
  width: 75%;
}

.containerFormularioMetricasSeleccion .cardFormMetricas input{
  width: 20%;
  background-color: #ecececb8;
}


input[type="submit"] {
  display: none;
}


/* FORMULARIO EN DONDE SE PIDEN LAS DISTANCIAS DE DOS OBJETOS  */

.contenedor-form-distancia-objetos .valor{
  margin-right: 30px;
}

.contenedor-form-distancia-objetos br{
  margin-top: 10px;
  margin-bottom: 10px;
}


/*  Métricas: Matriz de datos Euclidianos  */


.contenedor-algoritmo-grid .cardGrid-scroll .tabla-matriz{
  margin: auto;
  margin-top: 30px;
}

.contenedor-algoritmo-grid .cardGrid-scroll .tabla-matriz table, th, td {
  border: 1px solid;
  width: 80%;
  margin: auto;
  font-size: 14px;
}










/* CLUSTERING JERARQUICO  */

.contenedor-algoritmo-grid-der{
  width: 100%;
  margin-top: 20px;
  background-color: #ffffff;

  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-bottom: 20px;
}

.contenedor-algoritmo-grid-der .cardGrid{
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px;
  text-align: center;
  transition: all 0.25s;
}

.contenedor-algoritmo-grid-der .cardGrid:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/*.contenedor-algoritmo-grid .cardGrid img{
  width: 330px;
  height: 220px;
}*/

.contenedor-algoritmo-grid-der .cardGrid h4{
  font-weight: 600;
}

.contenedor-algoritmo-grid-der .cardGrid p{
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.contenedor-algoritmo-grid-der .cardGrid a {
  width: 100%;
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
  opacity: 1;
  transition: 0.3s;
}

.contenedor-algoritmo-grid-der .cardGrid a:hover {
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  background-color: #2c83bd;
  opacity: 0.6;
}



.contenedor-algoritmo-grid-der .cardGrid-scroll{
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px;
  text-align: center;
  transition: all 0.25s;
  overflow-y: scroll;
}

.contenedor-algoritmo-grid-der .cardGrid-scroll:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.contenedor-algoritmo-grid-der .cardGrid-scroll h4{
  font-weight: 600;
}

.contenedor-algoritmo-grid-der .cardGrid-scroll p{
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.contenedor-algoritmo-grid-der .cardGrid-scroll a {
  width: 100%;
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
  opacity: 1;
  transition: 0.3s;
}

.contenedor-algoritmo-grid-der .cardGrid-scroll a:hover {
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  background-color: #2c83bd;
  opacity: 0.6;
}

/* MATRIZ DE DATOS JERARQUICOS 


.contenedor-algoritmo-grid-der .cardGrid-scroll .tabla-matriz-clustering{
  margin: auto;
  background-color: #ededed;
  width: 92%;
}

.contenedor-algoritmo-grid-der .cardGrid-scroll .tabla-matriz-clustering table, tr, td{
  font-size: 9px;
}

*/





/* CARD con información de los resumenes */

.contenedor-algoritmo-grid-der .cardGridPeque{
  height: 320px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px;
  text-align: center;
  transition: all 0.25s;
}

.contenedor-algoritmo-grid-der .cardGridPeque:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/*.contenedor-algoritmo-grid .cardGrid img{
  width: 330px;
  height: 220px;
}*/

.contenedor-algoritmo-grid-der .cardGridPeque h4{
  font-weight: 600;
}

.contenedor-algoritmo-grid-der .cardGridPeque p{
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.contenedor-algoritmo-grid-der .cardGridPeque a {
  width: 100%;
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
  opacity: 1;
  transition: 0.3s;
}

.contenedor-algoritmo-grid-der .cardGridPeque a:hover {
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  background-color: #2c83bd;
  opacity: 0.6;
}