
{% extends '../../layouts/base.html' %}

{% load static %}


{%  block content %}

    <div>
        <h1>Clustering - Clustering Jerárquico y Particional</h1>
    </div>

    <div class="contenedor-texto-algoritmo contenedor-texto-algoritmo1">
        <p>En esta vista se mostrarán los dos tipos de Clustering, haciendo uso de métricas de distancia y selección de características.
        </p>
    </div>


    <div class="contenedor-algoritmo-grid-der" id="contenedor_algoritmo">

        <div class="cardGrid-scroll" style="display: {{displaySeleccion}};">
            <div>
                <h2>Variables del DataSet</h2>
            </div>
            <h3>Selección de características (selecciona las variables a eliminar)</h3>
            <div class="containerFormularioMetricasSeleccion">    <!-- containerFormularioApriori -->
                <form class="cardFormMetricas" action="" method="post" id="form-seleccion-carac">
                    {% csrf_token %}
                    <div class="contenedor-form-metricas">      <!--  contenedor-form-ap  -->

                        {% for columna in listaColumnas %}
                            <div class="linea">
                                <input type="checkbox" id="id_{{ columna }}" name="name_{{ columna }}" value="{{ columna }}">
                                <label for="id_{{ columna }}"> {{ columna }}</label>
                            </div>
                        {% endfor %}

                    </div>

                    <input type="hidden" name="form-tipo" value="form-seleccion-carac">

                    <label for="seleccion-carac" class="custom-file-form-ap">Enviar -></label>
                    <input class="boton-centro" type="submit" name="form-seleccion-carac" value="form-seleccion-carac" id="seleccion-carac" >
                    
                </form>
            </div>
            
        </div>

        <div class="cardGrid" style="display: {{displaySeleccion}};">
          <div>
              <h2>Mapa de calor</h2>
          </div>
          <div>
              <img src='data:image/png;base64,{{mapaCalor}}' style="width:100%;height:100%; margin-left: 35px;"/>
          </div>
        </div>



        <div class="cardGrid elemento-abajo" style="display: {{display}}">
          <h2>Arbol Jerarquico</h2>
          <h3>Distancias Euclidianas</h3>

          <div>
            <img src='data:image/png;base64,{{arbolJerarquico}}' style="width:110%;height:120%; margin-left: -28px;"/>
          </div>            
        </div>


        <div id="ejecucion-algoritmo" class="cardGrid-scroll elemento-abajo" style="display: {{display}}">
            

            <h2>Matriz con los clusters</h2>
            <h3>Clustering Jerarquico</h3>

            <p style="margin-top: 20px;">Se muestra la matriz de datos con la etiqueta de los clusters.</p>


            <div class="tabla-matriz-clustering" style="background-color: #f9f9f9; font-size:9px;">
                <table style="background-color: #f9f9f9; font-size: 9px;">
                    <tr style="background-color: #f9f9f9; font-size: 9px;">
                      {% for col in dataFrameJerarquico.columns %}
                        <td style="background-color: #f9f9f9; font-size: 9px;">
                          {{col}}
                        </td>
                      {% endfor %}
                    </tr>
                      {% for index, row in dataFrameJerarquico.iterrows %}
                        <tr style="background-color: #f9f9f9; font-size: 9px;">
                          {% for cell in row %}
                            <td style="background-color: #f9f9f9; font-size: 9px;">
                              {{cell}}
                            </td>
                          {% endfor %}
                        </tr>
                      {% endfor %}
                </table>
            </div>
            
        </div>


        <!-- AHORA LAS CUENTAS DE CLUSTERS Y CENTROIDES  -->
        <div class="cardGridPeque elemento-abajo" style="display: {{display}}">
          <h2>Conteo de elementos en cluster</h2>
          <h3>Resumen clustering Jerarquico</h3>

          <div class="tabla-matriz-clustering" style="margin-top: 40px; margin-left:50px;" >
            <table>
                <tr>
                  {% for col in dataFrameConteoJerarquico.columns %}
                    <td>
                      {{col}}
                    </td>
                  {% endfor %}
                </tr>
                  {% for index, row in dataFrameConteoJerarquico.iterrows %}
                    <tr>
                      {% for cell in row %}
                        <td>
                          {{cell}}
                        </td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
            </table>
          </div>
          
        </div>


        <div id="ejecucion-algoritmo" class="cardGridPeque elemento-abajo" style="display: {{display}}">
            

          <h2>Centroides de clustering Jerarquico</h2>
          <h3>Resumen de los datos</h3>

          <p style="margin-top: 20px;">Se muestra un resumen de los datos de los centroides.</p>


          <div class="tabla-matriz-clustering" >
            <table style="background-color: #f9f9f9; font-size:10px;">
                <tr style="background-color: #f9f9f9; font-size:10px;">
                  {% for col in dataFrameCentroidesJerarquico.columns %}
                    <td style="background-color: #f9f9f9; font-size:10px;">
                      {{col}}
                    </td>
                  {% endfor %}
                </tr>
                  {% for index, row in dataFrameCentroidesJerarquico.iterrows %}
                    <tr style="background-color: #f9f9f9; font-size:10px;">
                      {% for cell in row %}
                        <td style="background-color: #f9f9f9; font-size:10px;">
                          {{cell}}
                        </td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
            </table>
          </div>
          
        </div>


        <div class="cardGrid elemento-abajo" style="display: {{display}}">
          <h2>Clustering Particional</h2>
          <h3>Se muestra el gráfico de rodilla para escoger los clusters</h3>

          <div>
            <img src='data:image/png;base64,{{arbolParticional}}' style="width:80%;height:80%; margin-left: -25px;"/>
          </div>            
        </div>

        <div id="ejecucion-algoritmo" class="cardGrid-scroll elemento-abajo" style="display: {{display}}">
            

          <h2>Matriz con los clusters</h2>
          <h3>Clustering Particional</h3>

          <p style="margin-top: 20px;">Se muestra la matriz de datos con la etiqueta de los clusters.</p>


          <div class="tabla-matriz-clustering" style="background-color: #f9f9f9; font-size:9px;">
              <table style="background-color: #f9f9f9; font-size: 9px;">
                  <tr style="background-color: #f9f9f9; font-size: 9px;">
                    {% for col in dataFrameParticional.columns %}
                      <td style="background-color: #f9f9f9; font-size: 9px;">
                        {{col}}
                      </td>
                    {% endfor %}
                  </tr>
                    {% for index, row in dataFrameParticional.iterrows %}
                      <tr style="background-color: #f9f9f9; font-size: 9px;">
                        {% for cell in row %}
                          <td style="background-color: #f9f9f9; font-size: 9px;">
                            {{cell}}
                          </td>
                        {% endfor %}
                      </tr>
                    {% endfor %}
              </table>
          </div>
          
      </div>


      <!-- AHORA LAS CUENTAS DE CLUSTERS Y CENTROIDES  -->
      <div class="cardGridPeque elemento-abajo" style="display: {{display}}">
        <h2>Conteo de elementos en cluster</h2>
        <h3>Resumen clustering Particional</h3>

        <div class="tabla-matriz-clustering" style="margin-top: 40px; margin-left:50px;" >
          <table>
              <tr>
                {% for col in dataFrameConteoParticional.columns %}
                  <td>
                    {{col}}
                  </td>
                {% endfor %}
              </tr>
                {% for index, row in dataFrameConteoParticional.iterrows %}
                  <tr>
                    {% for cell in row %}
                      <td>
                        {{cell}}
                      </td>
                    {% endfor %}
                  </tr>
                {% endfor %}
          </table>
        </div>
        
      </div>


      <div id="ejecucion-algoritmo" class="cardGridPeque elemento-abajo" style="display: {{display}}">
          

        <h2>Centroides de clustering Particional</h2>
        <h3>Resumen de los datos</h3>

        <p style="margin-top: 20px;">Se muestra un resumen de los datos de los centroides.</p>


        <div class="tabla-matriz-clustering" >
          <table style="background-color: #f9f9f9; font-size:10px;">
              <tr style="background-color: #f9f9f9; font-size:10px;">
                {% for col in dataFrameCentroidesParticional.columns %}
                  <td style="background-color: #f9f9f9; font-size:10px;">
                    {{col}}
                  </td>
                {% endfor %}
              </tr>
                {% for index, row in dataFrameCentroidesParticional.iterrows %}
                  <tr style="background-color: #f9f9f9; font-size:10px;">
                    {% for cell in row %}
                      <td style="background-color: #f9f9f9; font-size:10px;">
                        {{cell}}
                      </td>
                    {% endfor %}
                  </tr>
                {% endfor %}
          </table>
        </div>
        
      </div>

        <!--width="400" height="400"-->
    </div>

    <!--CONTENEDOR FUERA DEL GRID-->
    <div>
        <label for="eliminar-dataset" class="custom-file-form-ap">Eliminar Dataset</label>
        <input class="custom-file-form-ap" type="submit" value="Eliminar DataSet" onclick="location.href='{% url 'clustering-eliminar-dataset' %}'" name='eliminar-data-clustering' id="eliminar-dataset">
    </div>


    <script>
        $("#boton_esconder").click(function(){
            $("#contenedor_algoritmo").toggle(1000);
        }); 

        $("#boton_esconder_ejecucion").click(function(){
            $("#ejecucion-algoritmo").toggle(1000);
        });
        
    </script>


{% endblock %}