
{% extends '../../layouts/base.html' %}

{% load static %}


{%  block content %}

    <div>
        <h1>Clustering - Clustering Jerárquico y Particional</h1>
    </div>

    <div class="contenedor-texto-algoritmo contenedor-texto-algoritmo1">
        <p>En esta vista se mostrarán los dos tipos de Clustering, haciendo uso de métricas de distancia y selección de características.
        </p>
    </div>


    <div class="contenedor-algoritmo-grid" id="contenedor_algoritmo">

        <div class="cardGrid" style="display: {{displaySeleccion}};">
            <div>
                <h2>Mapa de calor</h2>
            </div>
            <div>
                <img src='data:image/png;base64,{{mapaCalor}}' style="width:90%;height:80%"/>
            </div>
        </div>

        <div class="cardGrid-scroll" style="display: {{displaySeleccion}};">
            <div>
                <h2>Variables del DataSet</h2>
            </div>
            <h3>Selección de características (selecciona las variables a eliminar)</h3>
            <div class="containerFormularioMetricasSeleccion">    <!-- containerFormularioApriori -->
                <form class="cardFormMetricas" action="" method="post" id="form-seleccion-carac">
                    {% csrf_token %}
                    <div class="contenedor-form-metricas">      <!--  contenedor-form-ap  -->

                        {% for columna in listaColumnas %}
                            <div class="linea">
                                <input type="checkbox" id="id_{{ columna }}" name="name_{{ columna }}" value="{{ columna }}">
                                <label for="id_{{ columna }}"> {{ columna }}</label>
                            </div>
                        {% endfor %}

                    </div>

                    <input type="hidden" name="form-tipo" value="form-seleccion-carac">

                    <label for="seleccion-carac" class="custom-file-form-ap">Enviar -></label>
                    <input class="boton-centro" type="submit" name="form-seleccion-carac" value="form-seleccion-carac" id="seleccion-carac" >
                    
                </form>
            </div>
            
        </div>


        <div id="ejecucion-algoritmo" class="cardGrid-scroll elemento-abajo" style="display: {{display}}">
            

            <h2>Matriz de distancia</h2>
            <h3>Euclidiana</h3>

            <p style="margin-top: 20px;">Se muestra solo una parte de la Matriz de Distancias (cinco objetos) para mayor comodidad visual (la Matriz completa cuenta con {{numeroObjetos}} objetos).</p>


            <div class="tabla-matriz">
                <table>
                    <tr>
                      {% for col in dataFrameEuclidiana.columns %}
                        <td>
                          {{col}}
                        </td>
                      {% endfor %}
                    </tr>
                      {% for index, row in dataFrameEuclidiana.iterrows %}
                        <tr>
                          {% for cell in row %}
                            <td>
                              {{cell}}
                            </td>
                          {% endfor %}
                        </tr>
                      {% endfor %}
                </table>
            </div>
            
        </div>

        <div class="cardGrid elemento-abajo" style="display: {{display}}">
            <h2>Opciones Matriz Euclidiana</h2>
            <h3>Distancia entre dos objetos</h3>

            {% if hayDistancia == 'Euclidiana' %}
            
            <div class="containerFormularioMetricasSeleccion" style="margin-top: 15px;">
                <p style="margin-top: 50px;">La distancia entre los objetos [{{objetoEu1}}] y [{{objetoEu2}}] es de:</p>
                <br>
                <h3>{{distanciaObjetosEuclidiana}}</h3>

                <form action="/metricas/algoritmo" method="get" id="form-resultado-eu"> <!--cardFormMetricas-->
                    {% csrf_token %}
                    <label for="valor-resultado-euclidiana" class="custom-file-form-ap">Calcular otra vez</label>
                    <input class="boton-centro" type="submit" name="form-resultado-eu" value="form-resultado-eu" id="valor-resultado-euclidiana" >
                </form>
            </div>

            {% else %}

            <div class="containerFormularioMetricasSeleccion" style="margin-top: 15px;">
                <form class="cardFormMetricas" action="" method="post" id="form-matriz-euclidiana"> <!--cardFormMetricas-->
                    <p style="margin-top: -25px; margin-bottom: 10px;">Escoja indices válidos para los objetos [ 0 - {{numeroObjetos}} ] </p>
                    {% csrf_token %}
                    <div class="contenedor-form-distancia-objetos"> <!--contenedor-form-metricas-->

                        <label for="id_valor1" class="valor"> Valor 1</label>
                        <input type="number" step="1" id="id_valor1" name="name_valor1" value="0">
                        <br>
                        <label for="id_valor2" class="valor"> Valor 2</label>
                        <input type="number" step="1" id="id_valor2" name="name_valor2" value="1">
                        <br>

                    </div>

                    <input type="hidden" name="form-tipo" value="form-matriz-euclidiana">

                    <label for="m-euclidiana" class="custom-file-form-ap">Enviar -></label>
                    <input class="boton-centro" type="submit" name="form-matriz-euclidiana" value="form-matriz-euclidiana" id="m-euclidiana" >
                    
                </form>
            </div>

            {% endif %}

            
        </div>



        <div class="cardGrid-scroll elemento-abajo" style="display: {{display}}">
            

            <h2>Matriz de distancia</h2>
            <h3>Chevyshev</h3>

            <p style="margin-top: 20px;">Se muestra solo una parte de la Matriz de Distancias (cinco objetos) para mayor comodidad visual (la Matriz completa cuenta con {{numeroObjetos}} objetos).</p>


            <div class="tabla-matriz">
                <table>
                    <tr>
                      {% for col in dataFrameChevyshev.columns %}
                        <td>
                          {{col}}
                        </td>
                      {% endfor %}
                    </tr>
                      {% for index, row in dataFrameChevyshev.iterrows %}
                        <tr>
                          {% for cell in row %}
                            <td>
                              {{cell}}
                            </td>
                          {% endfor %}
                        </tr>
                      {% endfor %}
                </table>
            </div>
            
        </div>

        <div class="cardGrid elemento-abajo" style="display: {{display}}">
            <h2>Opciones Matriz Chevyshev</h2>
            <h3>Distancia entre objetos</h3>

            {% if hayDistancia == 'Chevyshev' %}
            
            <div class="containerFormularioMetricasSeleccion" style="margin-top: 15px;">
                <p style="margin-top: 50px;">La distancia entre los objetos [{{objetoCh1}}] y [{{objetoCh2}}] es de:</p>
                <br>
                <h3>{{distanciaObjetosChevyshev}}</h3>

                <form action="/metricas/algoritmo" method="get" id="form-resultado-ch"> <!--cardFormMetricas-->
                    {% csrf_token %}
                    <label for="valor-resultado-chevyshev" class="custom-file-form-ap">Calcular otra vez</label>
                    <input class="boton-centro" type="submit" name="form-resultado-ch" value="form-resultado-ch" id="valor-resultado-chevyshev" >
                </form>
            </div>

            {% else %}

            <div class="containerFormularioMetricasSeleccion" style="margin-top: 15px;">
                <form class="cardFormMetricas" action="" method="post" id="form-matriz-chevyshev"> <!--cardFormMetricas-->
                    <p style="margin-top: -25px; margin-bottom: 10px;">Escoja indices válidos para los objetos [ 0 - {{numeroObjetos}} ] </p>
                    {% csrf_token %}
                    <div class="contenedor-form-distancia-objetos"> <!--contenedor-form-metricas-->

                        <label for="id_valor1" class="valor"> Valor 1</label>
                        <input type="number" step="1" id="id_valor1" name="name_valor1" value="0">
                        <br>
                        <label for="id_valor2" class="valor"> Valor 2</label>
                        <input type="number" step="1" id="id_valor2" name="name_valor2" value="1">
                        <br>

                    </div>

                    <input type="hidden" name="form-tipo" value="form-matriz-chevyshev">

                    <label for="m-chevyshev" class="custom-file-form-ap">Enviar -></label>
                    <input class="boton-centro" type="submit" name="form-matriz-chevyshev" value="form-matriz-chevyshev" id="m-chevyshev" >
                    
                </form>
            </div>

            {% endif %}
            
            
            
        </div>


        <div class="cardGrid-scroll elemento-abajo" style="display: {{display}}">
            

            <h2>Matriz de distancia</h2>
            <h3>Manhattan</h3>

            <p style="margin-top: 20px;">Se muestra solo una parte de la Matriz de Distancias (cinco objetos) para mayor comodidad visual (la Matriz completa cuenta con {{numeroObjetos}} objetos).</p>


            <div class="tabla-matriz">
                <table>
                    <tr>
                      {% for col in dataFrameManhattan.columns %}
                        <td>
                          {{col}}
                        </td>
                      {% endfor %}
                    </tr>
                      {% for index, row in dataFrameManhattan.iterrows %}
                        <tr>
                          {% for cell in row %}
                            <td>
                              {{cell}}
                            </td>
                          {% endfor %}
                        </tr>
                      {% endfor %}
                </table>
            </div>
            
        </div>

        <div class="cardGrid elemento-abajo" style="display: {{display}}">
            <h2>Opciones Matriz Manhattan</h2>
            <h3>Distancia entre dos objetos</h3>

            {% if hayDistancia == 'Manhattan' %}
            
            <div class="containerFormularioMetricasSeleccion" style="margin-top: 15px;">
                <p style="margin-top: 50px;">La distancia entre los objetos [{{objetoMan1}}] y [{{objetoMan2}}] es de:</p>
                <br>
                <h3>{{distanciaObjetosManhattan}}</h3>

                <form action="/metricas/algoritmo" method="get" id="form-resultado-man"> <!--cardFormMetricas-->
                    {% csrf_token %}
                    <label for="valor-resultado-manhattan" class="custom-file-form-ap">Calcular otra vez</label>
                    <input class="boton-centro" type="submit" name="form-resultado-man" value="form-resultado-man" id="valor-resultado-manhattan" >
                </form>
            </div>

            {% else %}

            <div class="containerFormularioMetricasSeleccion" style="margin-top: 15px;">
                <form class="cardFormMetricas" action="" method="post" id="form-matriz-manhattan"> <!--cardFormMetricas-->
                    <p style="margin-top: -25px; margin-bottom: 10px;">Escoja indices válidos para los objetos [ 0 - {{numeroObjetos}} ] </p>
                    {% csrf_token %}
                    <div class="contenedor-form-distancia-objetos"> <!--contenedor-form-metricas-->

                        <label for="id_valor1" class="valor"> Valor 1</label>
                        <input type="number" step="1" id="id_valor1" name="name_valor1" value="0">
                        <br>
                        <label for="id_valor2" class="valor"> Valor 2</label>
                        <input type="number" step="1" id="id_valor2" name="name_valor2" value="1">
                        <br>

                    </div>

                    <input type="hidden" name="form-tipo" value="form-matriz-manhattan">

                    <label for="m-manhattan" class="custom-file-form-ap">Enviar -></label>
                    <input class="boton-centro" type="submit" name="form-matriz-manhattan" value="form-matriz-manhattan" id="m-manhattan" >
                    
                </form>
            </div>

            {% endif %}
            
            
        </div>



        <div class="cardGrid-scroll elemento-abajo" style="display: {{display}}">
            

            <h2>Matriz de distancia</h2>
            <h3>Minkowski</h3>

            <p style="margin-top: 20px;">Se muestra solo una parte de la Matriz de Distancias (cinco objetos) para mayor comodidad visual (la Matriz completa cuenta con {{numeroObjetos}} objetos).</p>


            <div class="tabla-matriz">
                <table>
                    <tr>
                      {% for col in dataFrameMinkowski.columns %}
                        <td>
                          {{col}}
                        </td>
                      {% endfor %}
                    </tr>
                      {% for index, row in dataFrameMinkowski.iterrows %}
                        <tr>
                          {% for cell in row %}
                            <td>
                              {{cell}}
                            </td>
                          {% endfor %}
                        </tr>
                      {% endfor %}
                </table>
            </div>
            
        </div>

        <div class="cardGrid elemento-abajo" style="display: {{display}}">
            <h2>Opciones Matriz Minkowski</h2>
            <h3>Distancia entre dos objetos</h3>

            {% if hayDistancia == 'Minkowski' %}
            
            <div class="containerFormularioMetricasSeleccion" style="margin-top: 15px;">
                <p style="margin-top: 50px;">La distancia entre los objetos [{{objetoMin1}}] y [{{objetoMin2}}] es de:</p>
                <br>
                <h3>{{distanciaObjetosMinkowski}}</h3>

                <form action="/metricas/algoritmo" method="get" id="form-resultado-min"> <!--cardFormMetricas-->
                    {% csrf_token %}
                    <label for="valor-resultado-minkowski" class="custom-file-form-ap">Calcular otra vez</label>
                    <input class="boton-centro" type="submit" name="form-resultado-min" value="form-resultado-min" id="valor-resultado-minkowski" >
                </form>
            </div>

            {% else %}

            <div class="containerFormularioMetricasSeleccion" style="margin-top: 15px;">
                <form class="cardFormMetricas" action="" method="post" id="form-matriz-minkowski"> <!--cardFormMetricas-->
                    <p style="margin-top: -25px; margin-bottom: 10px;">Escoja indices válidos para los objetos [ 0 - {{numeroObjetos}} ] </p>
                    {% csrf_token %}
                    <div class="contenedor-form-distancia-objetos"> <!--contenedor-form-metricas-->

                        <label for="id_valor1" class="valor"> Valor 1</label>
                        <input type="number" step="1" id="id_valor1" name="name_valor1" value="0">
                        <br>
                        <label for="id_valor2" class="valor"> Valor 2</label>
                        <input type="number" step="1" id="id_valor2" name="name_valor2" value="1">
                        <br>

                    </div>

                    <input type="hidden" name="form-tipo" value="form-matriz-minkowski">

                    <label for="m-minkowski" class="custom-file-form-ap">Enviar -></label>
                    <input class="boton-centro" type="submit" name="form-matriz-minkowski" value="form-matriz-minkowski" id="m-minkowski" >
                    
                </form>
            </div>

            {% endif %}
            
        </div>
        

        <!--width="400" height="400"-->
    </div>

    <!--CONTENEDOR FUERA DEL GRID-->
    <div>
        <label for="eliminar-dataset" class="custom-file-form-ap">Eliminar Dataset</label>
        <input class="custom-file-form-ap" type="submit" value="Eliminar DataSet" onclick="location.href='{% url 'clustering-eliminar-dataset' %}'" name='eliminar-data-clustering' id="eliminar-dataset">
    </div>


    <script>
        $("#boton_esconder").click(function(){
            $("#contenedor_algoritmo").toggle(1000);
        }); 

        $("#boton_esconder_ejecucion").click(function(){
            $("#ejecucion-algoritmo").toggle(1000);
        });
        
    </script>


{% endblock %}