
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAIAPP</title>
      <!-- Fuentes de google -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
    <!--Fuentes de un CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="{% static 'styles.css' %}"> 
    <!-- Favicon o icono de la pestaña -->
    <link rel="shortcut icon" href="{% static 'img/brand.png' %}"> 
    <!--Integración de Jquery y ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
    <!--Integración de CHARTJS-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'img/brand.png' %}" alt="TechNews Logo">
                    <span class="nav-item">TAIAPP</span>
                </a>
            </li>
            <li><a href="{% url 'index' %}" class="anchor-item">
                <i class="fas fa-home"></i>
                <span class="nav-item">Inicio</span>
            </a></li>
            <li><a href="{% url 'apriori-validacion' %}" class="anchor-item">
                <i class="fas fa-project-diagram"></i>
                <span class="nav-item">Apriori</span>
            </a></li>
            {# Se coloca unicamente el path que está en el archivo urls.py, pero, con el 'name'#}
            <li><a href="{% url 'metricas-distancia-validacion' %}" class="anchor-item">
                <i class="fas fa-chart-area"></i>
                <span class="nav-item">Métricas de distancia</span>
            </a></li>
            <li><a href="{% url 'sitios' %}" class="anchor-item">
                <i class="fas fa-chart-bar"></i>
                <span class="nav-item">Sitios</span>
            </a></li>
            <li><a href="{% url 'acerca' %}" class="anchor-item">
                <i class="fas fa-tasks"></i>
                <span class="nav-item">Acerca de</span>
            </a></li>
            <li><a href="#" class="anchor-item">
                <i class="fas fa-question-circle"></i>
                <span class="nav-item">Help</span>
            </a></li>
            <li><a href="#" class="logout" class="anchor-item">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-item">Log out</span>
            </a></li>
        </ul>
    </nav>

    <div class="contenido">
      {% block content %}
      {% endblock %}
    </div>
    

    <!--
    <div class="contenido">
        <h1>
            Proyecto IA
        </h1>

        <div class="container">
            <div class="cuadro">
                <canvas id="myChart"></canvas>
            </div>
    
            <div class="cuadro">
                <canvas id="line-chart"></canvas>
            </div>
        
            <div class="cuadro">
                <canvas id="bar-chart-grouped"></canvas>
            </div>
    
            <div class="cuadro">
                <canvas id="mixed-chart"></canvas>
            </div>
        </div>
 
    </div>
    -->
    
    
</body>
     

</html>