{% extends '../layouts/base.html' %}

{% load static %}
{%  block content %}


    <!-- Imagen principal -->
    <header class="showcase2">
      <h2>Temas de preferencia</h2>
      <p>Lenguajes de programación y tecnologías enfocados en el desarrollo web.</p>
      <a href="#Tecnologias" class="btn">
        Tecnologias <i class="fas fa-chevron-right"></i>
      </a>
    </header>


    <!--Texto entre la imagen principal y los dempas elementos-->
    <div class="logo-main">
      <img src="{% static 'img/image.png' %}" alt="">
      <h2 id="Tecnologias">Temas enfocados en el desarrollo web: </h2>
    </div>


    <!-- Targetas o elementos varios -->
    <div class="news-cards">
      <div>
          <img src="{% static 'img/css.jpg' %}" alt="" />
          <a href="https://www.w3schools.com/css/">
            <h3>CSS Cascade Style Sheet</h3>
          </a>
        <p>CSS (en inglés Cascading Style Sheets) es lo que se denomina lenguaje de hojas de estilo en cascada y se usa para estilizar elementos escritos en un lenguaje de marcado como HTML. CSS separa el contenido de la representación visual del sitio.
        </p>
        <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
      </div>
      <div>
        <img src="{% static 'img/html.jpg' %}" alt="" />
        <a href="https://www.w3schools.com/html/">
          <h3>HTML HiperText Markup Language</h3>
        </a>
        <p>El lenguaje html (hypertext markup language) se utiliza para el desarrollo y creación de páginas web. Se compone de una serie de etiquetas que el navegador interpreta. Entre las etiquetas que se incluyen dentro del lenguaje HTML se encuentran: hipervínculos, etiquetas para imágenes, saltos de página, entre otras.
        </p>
        <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
      </div>
      <div>
        <img src="{% static 'img/js.jpeg' %}" alt="" />
        <a href="https://www.w3schools.com/js/">
          <h3>Javascript Lenguaje de Scripts</h3>
        </a>
        <p>JavaScript es el lenguaje de programación que debes usar para añadir características interactivas a tu sitio web, (por ejemplo, juegos, eventos que ocurren cuando los botones son presionados o los datos son introducidos en los formularios, efectos de estilo dinámicos, animación, y mucho más).
        </p>
        <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
      </div>
      <div>
        <img src="{% static 'img/bootstrap.png' %}" alt="" />
        <a href="https://www.w3schools.com/bootstrap/bootstrap_get_started.asp">
          <h3>Bootstrap Web Framework</h3>
        </a>
        <p>Bootstrap es un marco CSS gratuito y de código abierto dirigido al desarrollo web front-end receptivo y móvil. Contiene plantillas de diseño basadas en HTML, CSS y JavaScript para tipografía, formularios, botones, navegación y otros componentes de la interfaz.
        </p>
        <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
      </div>
    </div>


    {% endblock %}